<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>InternVibes</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <link href="/css/hci-friends.css" rel="stylesheet" type="type/css">


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/"> Home </a>
                <a class="navbar-brand topnav" href="/help">About</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                    
                    <li>
                        <a href="/FAQ">FAQ</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Intern Vibes</h1>
                        <h3>discover your internship</h3>

                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="find_vibes" class="btn btn-default btn-lg"></i> <span class="network-name">Find Vibes</span></a>
                            </li>
                            <li>
                                <a href="write_vibes" class="btn btn-default btn-lg"></i> <span class="network-name">Write Vibes</span></a>
                            </li>

                            <h1>&nbsp;</h1>

                            <img src="http://www.pjfolio.co.uk/scrollArrow.png" class="center-block img-responsive " alt="Responsive image">
                            
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    

    <hr class="section-heading-spacer">


    
    <div class="container">

        <h2>Recent Vibes</h2>

    </div>

    {{#each vibes}}
    <div class="container">
    <div class="panel panel-default {{quality}}">
        <div class="panel-heading"><h2>{{company}}</h2></div>
        <div class="panel-body">
        <h4>Project:</h4>
        <p>{{project}}</p>
        <h4>Managment</h4>
        <p>{{managment}}</p>
        <h4>Team:</h5>
        <p>{{team}}</p>
        <h4>Work Environment </h4>
        <p>{{workenvirontment}}</p>
    </div>
    </div>
</div>


    {{/each}}
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
